server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: todo-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/tododb
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 30000

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.sql
    enabled: true

  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s

  jackson:
    serialization:
      INDENT_OUTPUT: true

  main:
    allow-bean-definition-overriding: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,custom
      base-path: /actuator
    enabled-by-default: true
  endpoint:
    health:
      show-details: always
      show-components: always
      enabled: true
    info:
      enabled: true
    metrics:
      enabled: true
  info:
    env:
      enabled: true
    build:
      enabled: true
  health:
    db:
      enabled: true
    diskspace:
      enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
    operationsSorter: method

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.example.todo: DEBUG

---
spring:
  config:
    activate:
      on-profile: test


  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.sql

  cache:
    type: none

logging:
  level:
    root: INFO
